@charset "UTF-8";
.backgroundElec img {
  width: 100%;
}

.titreHeader {
  text-transform: uppercase;
  margin-left: 10px;
}

.imgLogo {
  margin-left: 40%;
}

/* Div Logo svg*/
.logoSvg {
  width: 100%;
}

.ligne1Logo, .ligne2Logo {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
}

/*************************
    Debut text Logo SVG
 *************************/
.textCoop {
  color: #c3a575;
}

.textInstall {
  color: #b3d143;
}

.textProd {
  color: #fcb731;
}

.textCapital {
  color: #00afec;
}

/*************************
    Fin text Logo SVG
 *************************/
.logo1, .logo2 {
  width: 25%;
  display: inline-block;
  margin: 0 auto;
}

.logo3, .logo4 {
  width: 25%;
  display: inline-block;
  margin: 0 auto;
}

.titre h1, .titre h2 {
  text-align: center;
  color: #fcb731;
}

.titre h1 {
  font-size: 1.7em;
  margin-bottom: -0.2em;
}

.titre h2 {
  font-size: 1em;
}

/**********************
  Partie Texte centre
**********************/
.texte {
  color: #6d6f71;
}

.texteGauche {
  width: 100%;
  display: block;
  text-align: center;
  color: #6d6f71;
}

.texteDroit {
  width: 100%;
  display: block;
  text-align: center;
}

/* Div Boutton : */
.divBoutton {
  width: 100%;
  background-color: #6d6f71;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* image + Div boutton */
.divBoutton img {
  color: white;
}

/* Div Souscrire : */
.divSouscrire {
  display: -ms-flexbox;
  display: flex;
  background-color: #fcb731;
  width: 40%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  margin-left: 25%;
  border-radius: 8px;
}

/* image + Div Souscrire */
.divSouscrire p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Text a l'intérieur de la div boutton */
.divBoutton > p {
  text-align: center;
  color: white;
}

.container {
  margin: 0 auto;
}

.container-articles {
  background-color: beige;
}

.article1 {
  background-color: #fcb731;
}

.article2 {
  background-color: #b3d143;
}

.article3 {
  background-color: white;
}

.article4 {
  background-color: #e8ddca;
}

/**********************
        Menu
 **********************/
.hamb {
  height: 40px;
  margin-top: 7px;
  margin-left: 100px;
}

.barrnav {
  margin-top: -55px;
  margin-right: 10px;
  float: right;
}

/* En version mobile on cache les éléments du menu burger de base */
ul {
  display: none;
}

/* Toggle pour afficher le sous menu Lors du clic sur le burger */
.styleToggle {
  display: block;
  list-style: none;
}

/* Sous menu visible par dessus l'image */
.afficheSousMenu {
  margin-top: 5px;
  position: absolute;
  background-color: white;
  opacity: 80%;
}

.afficheSousMenu a {
  color: black;
  text-decoration: none;
}

/* Fond points : */
.headerPoint {
  height: 50px;
}

.fondPoint {
  background-image: url("../img/points.svg");
}

.ArticleOrange {
  background-color: #fcb731;
}

.ArticleVert {
  background-color: #b3d143;
}

.ArticlePoint {
  background-image: url("../img/points.svg");
}

.ArticleMarron {
  background-color: #e8ddca;
}

.inner {
  width: 100%;
  margin-bottom: 10px;
}

.ImgArticle img {
  width: 80%;
  margin-left: 10px;
}

.TexteArticle {
  width: 80%;
  margin-left: 10px;
}

/**********************
  MEDIA QUERIES DESKTOP
 **********************/
@media screen and (min-width: 970px) {
  .container {
    width: 970px;
  }
  .hamb {
    display: none;
  }
  ul {
    display: block;
  }
  .barrnav {
    position: absolute;
    margin-top: 0px;
    margin-left: 500px;
  }
  .titreHeader {
    background-color: white;
    margin-left: 180px;
    padding-left: 15px;
    padding-right: 10px;
  }
  .afficheSousMenu {
    position: static;
    background-color: #b3d143;
    opacity: 1;
    margin-left: 20px;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .afficheSousMenu a {
    padding-right: 15px;
  }
  .afficheSousMenu a:hover {
    background-color: blue;
  }
  .titreHeader {
    position: absolute;
  }
  .texteDroit, li {
    display: inline-block;
    margin: 0 auto;
    color: #6d6f71;
  }
  .logoSvg {
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .ligne1Logo, .ligne2Logo {
    width: 100%;
  }
  .partie1.fondPoint {
    display: -ms-flexbox;
    display: flex;
  }
  .imgLogo {
    margin-left: 45%;
  }
  .logoSvg p {
    text-align: center;
    margin-left: -30px;
    margin-top: 10px;
  }
  .texteGauche, .texteDroit {
    width: 50%;
    display: inline-block;
  }
  .texteDroit {
    background-color: white;
  }
  .divBoutton {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
  }
  .partie2 {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
  }
  .divSouscrire {
    width: 15%;
    margin-left: 42%;
  }
  /* Articles : */
  /* Redimentionnement image*/
  .imageArticle {
    width: 35%;
    margin-left: 200px;
  }
  .titrePhoto {
    margin-left: 200px;
  }
  /******************************
          MODIF HTML ARTICLES
   ******************************/
  .ArticleOrange {
    background-color: orange;
  }
  .inner {
    width: 970px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }
  .ImgArticle {
    width: 50%;
  }
  .TexteArticle {
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
