@charset "UTF-8";
.backgroundElec img {
  width: 100%;
}

.titreHeader {
  text-transform: uppercase;
  margin-left: 10px;
}

.imgLogo {
  margin-left: 40%;
}

/* Div Logo svg*/
.logoSvg {
  width: 100%;
}

.ligne1Logo, .ligne2Logo {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
}

/*************************
    Debut text Logo SVG
 *************************/
.textCoop {
  color: #c3a575;
}

.textInstall {
  color: #b3d143;
}

.textProd {
  color: #fcb731;
}

.textCapital {
  color: #00afec;
}

/*************************
    Fin text Logo SVG
 *************************/
.logo1, .logo2 {
  width: 25%;
  display: inline-block;
  margin: 0 auto;
}

.logo3, .logo4 {
  width: 25%;
  display: inline-block;
  margin: 0 auto;
}

.titre h1, .titre h2 {
  text-align: center;
  color: #fcb731;
}

.titre h1 {
  font-size: 1.7em;
  margin-bottom: -0.2em;
}

.titre h2 {
  font-size: 1em;
}

/**********************
  Partie Texte centre
**********************/
.texte {
  color: #6d6f71;
}

.texteGauche {
  width: 100%;
  display: block;
  text-align: center;
  color: #6d6f71;
}

.texteDroit {
  width: 100%;
  display: block;
  text-align: center;
}

/* Div Boutton : */
.divBoutton {
  width: 100%;
  background-color: #6d6f71;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* image + Div boutton */
.divBoutton img {
  color: white;
}

/* Div Souscrire : */
.divSouscrire {
  display: -ms-flexbox;
  display: flex;
  background-color: #fcb731;
  width: 40%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  margin-left: 25%;
  border-radius: 8px;
}

/* image + Div Souscrire */
.divSouscrire p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Text a l'intérieur de la div boutton */
.divBoutton > p {
  text-align: center;
  color: white;
}

.container {
  margin: 0 auto;
}

.container-articles {
  background-color: beige;
}

.article1 {
  background-color: #fcb731;
}

.article2 {
  background-color: #b3d143;
}

.article3 {
  background-color: white;
}

.article4 {
  background-color: #e8ddca;
}

/**********************
        Menu
 **********************/
.hamb {
  height: 40px;
  margin-top: -5px;
  margin-left: 100px;
}

.barrnav {
  margin-top: -55px;
  margin-right: 10px;
  float: right;
}

/* En version mobile on cache les éléments du menu burger de base */
ul {
  display: none;
}

/* Toggle pour afficher le sous menu Lors du clic sur le burger */
.styleToggle {
  display: block;
  list-style: none;
}

.container-articles, .photo-article, .text-article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

/* mettre côte à côte  le titre et les flèches Gauche / droite : */
.titrePhoto {
  display: -ms-flexbox;
  display: flex;
}

.titrePhoto div p {
  margin-left: 10px;
  margin-top: 10px;
}

/* Flèche Gauche et Droite positioné a droite de la div*/
.FlecheG-D {
  margin-left: 220px;
  margin-top: 10px;
}

.imageArticle {
  width: 80%;
  margin-left: 10px;
}

.imageArticle img {
  width: 100%;
}

/* met en blanc les text avec classe text-article1*/
.text-article1 {
  color: white;
}

.text-article1 h3, p {
  margin-left: 20px;
  margin-bottom: 5px;
}

.text-article2 {
  color: #6d6f71;
}

.text-article2 h3, p {
  margin-left: 20px;
  margin-bottom: 5px;
}

.text-article3 {
  color: #6d6f71;
}

.text-article3 h3, p {
  margin-left: 20px;
  margin-bottom: 5px;
}

.voir-install {
  width: 100%;
  background-color: #6d6f71;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.voir-install p {
  margin-left: 20%;
}

.text-article4 {
  color: #6d6f71;
}

.text-article4 h3, p {
  margin-left: 20px;
  margin-bottom: 5px;
}

.article1, .article2, .article3, .article4 {
  margin-top: 20px;
}

/**********************
  MEDIA QUERIES DESKTOP
 **********************/
@media screen and (min-width: 970px) {
  .container {
    width: 970px;
  }
  .container-articles {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
